**/output/*
**/eth-states*/*
**/test_log*/*
**/__pycache__/*
*.bak
*.out
*.o
*.so
*.swp
.DS_Store
*.tfvars
*.pyc
.idea
docs-out
__pycache__
build
dist
*.egg-info
client/frontend/public/**
client/frontend/node_modules
client/backend/node_modules
client/backend/bin
*.bin
output
project-words.txt
client/frontend/public/images/computer.png
